<div class="jumbotron">
  <h1 class="title">
    您教教我
  </h1>
  <p class="slogan">
    真诚求教，真心指导
    <br />
    我，我是新生新人，学业上实习中，遇到了一个棘手的小难题，想求高人指点！
    <br />
    我，我是老工程师，经历多经验足，经常被誉为当代的活雷锋，想把知识变现！
  </p>
  <p class="lead">
    <a class="btn btn-lg btn-success" href="/tasks">
      问问聊聊
    </a>
  </p>
</div>
